/* Footer-css */

.main-footer {
  color: #e9ecef;
  padding: 1rem 0;
  border-top: 1px solid #e9ecef;
}

.footer-copy {
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 0.95rem;
  color: var(--primary-blue);
}

